# Ignore everything
*
# Allow whitelisting subdirectories
!*/
# Don\'t ignore the README.md file
!README.md
# Don\'t ignore the block design and block design hdl wrapper files
!**/bd/*/*.bd
!**/bd/*/hdl/*.sv
!**/bd/*/hdl/*.v
!**/bd/*/hdl/*.vhd
!**/bd/*/hdl/*.vhdl
# Don\'t ignore the constraint files
!**/constraints/**/*.xdc
# Don\'t ignore the synthesis files 
!**/**.srcs/sources_1/**/*.sv
!**/**.srcs/sources_1/**/*.v
!**/**.srcs/sources_1/**/*.vh
!**/**.srcs/sources_1/**/*.vhd
!**/**.srcs/sources_1/**/*.vhdl
# Don\'t ignore the HLS source and testbench files
!**/hsl/*/sources/*.cpp
!**/hsl/*/sources/*.hpp
!**/hsl/*/testbench/*.cpp
# Don\'t ignore the IP defintion files
!**/ip/*/*.xci
# Don\'t ignore the HLS IP defintion files
!**/ip/hls_ip/**
# Don\'t ignore the output files
!**/output/**/*.bit
!**/output/**/*.xsa
!**/output/**/*.dcp
# Don\'t ignore the project files
!**/*.xpr
# Don\'t ignore the log and journal files
!**/*.log
!**/*.jou
# Don\'t ignore the testbench files
!**/**.srcs/sim_1/**/*.sv
!**/**.srcs/sim_1/**/*.v
!**/**.srcs/sim_1/**/*.vh
!**/**.srcs/sim_1/**/*.vhd
!**/**.srcs/sim_1/**/*.vhdl
!**/**.srcs/sim_1/**/*.wav
# Don\'t ignore the waveform files
!**/**.wcfg
# Don\'t ignore the hex files
!**/**.sim_1/**/**/*.hex
# Don\'t ignore this file
!.gitignore
